<div class="container">
  <div class="row form">
    <div class="col l10 offset-l1 m12">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="input-field">
          <%= f.label :email, "Email (required)" %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="input-field">
          <%= f.label :title, "Name (required)" %><br />
          <%= f.text_field :title %>
        </div>

        <div class="field">
          <%= f.label :thumbnail %><br />
          <%= f.file_field :thumbnail %>
        </div>

        <div class="input-field">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="input-field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="input-field">
          <%= f.label :current_password, "Current Password (We need your password to confirm your changes)" %><br />
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "Update", class: "btn" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
