<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width" />
</head>
<body>
  <%= javascript_include_tag "application" %>
  <%= render 'layouts/navigation',  :user => @currentuser; %>
	<main>
		<div class="container">
			<div id="user_show">
				<div class="row dash">
          <div class="col l9 offset-l1 scrollable">
						<div class="wrapper">
							<ul class="cf">
                <!-- Find all users with given search information. -->
								<% if @search_users.blank? %>
									<h4>Sorry! There are no users named <%= params[:search] %>.</h4>
								<% end %>
								<div class="card-collection">
                  <!-- Display cards for users with given search information -->
									<% @search_users.each do |card_user| %>
										<%= render 'layouts/building_blocks/user_card', :card_user => card_user; %>
									<% end %>
								</div>
							</ul>
						</div>
					</div>
					<%= render 'layouts/sidenav' %>
				</div>
			</div>
		</div>
		<%= render 'layouts/wavesurfer'; %>
	</main>
</body>
